

extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Ngara tech-hub , 
  p where community is empowered by sharing knowledge and soft skills.
  p Be sure visit the community learning section or visit the chat section to elarn on the current trends.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Take a look
  p If you have any questions reach out to any cumminty lead !
  p - Isaac Waweru - Youth lead ICT Ngara